ul.latestnewssellingtips {
width: 100%;
PADDING-RIGHT: 0px;
MARGIN-TOP: 0px !important;
PADDING-LEFT: 0px;
PADDING-BOTTOM: 0px;
MARGIN-LEFT: 0px !important;
PADDING-TOP: 0x;
}
li.latestnewssellingtips {
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
margin-left: 0px;
/* new! */
padding-left: 0px !important;
padding-top: 0px !important;
padding-right: 0px !important;
padding-bottom: 0px !important;
_padding-bottom: 0px;
list-style-image: none !important;
list-style-type: none;
}
#left-col a.latestnewssellingtips {
text-align: left;
padding-left: 5px;
padding-right: -5px;
padding-top: 7px;
padding-bottom: 7px;
display: block;
/*width: 100%;*/
height: 100%;
font-size: 14px;
font-weight: bold;
text-decoration: none;
margin: 0px;
}
