.content  {
  display:flex;
  flex-direction: row;
  width: 100%;
}
.content .main {
  background-color:#EEE;
  padding:10px;
  flex-grow: 1;
}
.aside {
  background-color:#004684;
  padding:10px;
  width:150px;
  color:rgb(255,255,255);
}

#my-link { color: red; }
.my-link { color: green; }
a { color: blue; }


#header a { border: 2px dashed #000; }

.special-link { border: none; }

#header .special-link { border: none; }

#header #title .left-side img.logo { opacity: 0.5; }

.some-title { font-weight: bold; }
.some-other-title { font-weight: bold; color: red }

h2{
font-size:2em;
margin-bottom:0.5em;
padding-bottom:0.5em;
/* border-bottom:10px solid #CF0; */
border-bottom:1px solid #ccc;
}
.no-border{
padding-bottom:0;
border-bottom:none;
}
